<section class="section-about">
  <div class="container">
    <h2>About</h2>  
    <div class="description">
      <p>Meu nome é Valter Barros, natural de Maceió-AL atualmente sou desenvolvedor web e estudante. Cursando análise e desenvolvimento de sistemas na FAT-AL. Por que eu gosto de tecnologias web? Cara é muito legal criar sites e sistemas web se preocupar com a usabilidade e colocar minha criatividade (que não é pouca rsrs) em prática, aprendendo mais a cada dia.</p>
      <p>Gosto de trabalhar em equipe. Quando conheci o git foi amor a primeira vista, commits, push, pull requests é vida isso vale também para as metodologias ageis.</p>
      <p>Estou em busca de projetos para aumentar meu xp participando ativamente, ajudando pessoas e facilitando processos.</p>
      <p>Adoro ideias como Uber e Netflix, que causam grandes mudanças no mercado e startups também.</p>
    </div>
  </div>
</section>