<section class="section-about">
  <h2 class="text-center">Contato</h2>
  <h4 class="text-center description">Entre em contato vou ficar feliz em participar de uma projeto com você fique a vontade para me enviar um mensagem para o e-mail <a href="mailto:valterinside@gmail.com">valterinside@gmail.com</a> </h4>
  <ul class="icons">
    <li>
      <a href="https://twitter.com/bluevalter" target="_blank" class="social-btn icon fa fa-twitter"></a>
    </li>
    <li>
      <a href="https://www.facebook.com/valterbarrosjunior" target="_blank" class="social-btn icon fa fa-facebook-square"></a>
    </li>
    <li>
      <a href="https://github.com/valterbarros" target="_blank" class="social-btn icon fa fa-github"></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/valter-barros-827079128?trk=nav_responsive_tab_profile" target="_blank" class="social-btn icon fa fa-linkedin"></a>
    </li>
  </ul>
</section>